# DB
DATABASE_URL="postgresql://<username>:<password>@<server_url>/<database_name>?schema=public"

#Port
PORT=your-port-number

#Auth
JWT_SECRET=randomString

#AWS
AWS_S3_REGION='region name'
AWS_S3_BUCKET='bucket name'
AWS_S3_ACCESS_KEY_ID='access key'
AWS_S3_SECRET_KEY_ID='secret access key'

#ENV
ENV='production | develop'

#Using .env list
# .env
# .env.test