# PostgreSQL DB
DATABASE_URL=postgresql://username:password@your-rds-endpoint:5432/panda_market

# App
PORT=3000
BASE_URL=https://pandamarket.mimu.live

# JWT Secrets
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# Uploads
UPLOAD_STRATEGY=local   # local | s3
UPLOAD_DIR=/app/uploads

# AWS S3
AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=