# PostgreSQL DB
DATABASE_URL=postgresql://username:password@your-rds-endpoint:5432/panda_market

# BACKEND PORT
PORT=3000

# JWT Secrets
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# BASE URL (API ORIGIN)
BASE_URL=https://pandamarket.mimu.live

# AWS S3
AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=